html {
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(48, 213, 200), rgb(76.1, 69.8, 50.2));
}

.header{
    text-align: center;
    border-style:inset;
}

.ingredients{
    position: relative;
    left: 500px;
    right:500px;
}

ul{
    list-style:inside;
}