html {
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(48, 213, 200), rgb(76.1, 69.8, 50.2));
}

.intro{
    text-align: center;
    border-style:inset;
    
    
}
.intro p{
    font-size:x-large;
    font-style: oblique;
    
}

div.homepage_img {
    
  position:relative;
  left:420px;
  bottom:-50px ;
    
}

.homepage_img img{
    
    width: 40vw;
    height: 15vw;
    box-shadow: 0vh 0vh 20vh rgb(196, 213, 48);
    border-style: double;
    border-color: rgb(196, 213, 48);
    

    
    

}




header {
    text-align: center;
    width: 100%;
}



hr.rounded {
    border-top: 8px solid rgb(1, 79, 82);
    border-radius: 50px;
}

.content {
    gap: 50px;
    display: flex;
}

.content img{
    
    animation: mover 2s infinite alternate;
    border-radius: 50%;
    box-shadow: 0vh 0vh 5vh rgb(48, 213, 200);
    
    
    

}
.content p{
    font-size:x-large;
   

    
    
}

h1.header {
    text-align: center;
    font-style: oblique;
    color: black;
   

}
.item {
    display: flex;
    flex-direction:column-reverse;
    gap: 10px;
    align-items: center;
    width: 400px;
    height: 400px;
    position: relative;
   
    
    
}


@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}